<!DOCTYPE html>
<html>
  <head>
    <title>Continue</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/script.js"></script>
     <script src="https://cdn.tailwindcss.com"></script>
       <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
        sans: ['Graphik', 'sans-serif'],
        serif: ['Merriweather', 'serif'],
      },
      colors: {
        'winter' : '#BFF098',
        'spring' : '#6FD6FF',
        'summer' : '#dddddd',
      }
        }
      }
    }
  </script>
  </head>
   <header>
      <nav class="flex text-lg space-x-24  float-left p-4 bg-summer w-full justify-normal ">
        <h1 class="antialiased font-extrabold text-4xl text-red-600 text-center" >CONTINUE</h1>
      <a href="/" class="transition ease-in-out delay-150 bg-transparent hover:-translate-y-1 h-3/4 rounded-lg text-center p-4 " >Home</a>
      <!-- Dropdown Menu -->
      <div class="dropdown" class=" absolute inline-block">
        <a href="/games"class="transition ease-in-out delay-150 bg-transparent hover:-translate-y-1 h-3/4 rounded-lg text-center p-4 ring-2" >Games</a>
        <div class="dropdown-content" class="absolute hidden min-w-40 hover:-translate-y-1 h-3/4 rounded-lg text-center p-4 ring-2 " >
          <ul class=" list-inside ">
            {{#each consoles as |console|}}
            <li><a href="/games/{{console.id}}">{{console.console}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <a href="/orders" class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 h-1/2 rounded-lg text-center" >Your Orders</a>
      <a href="/cart" class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 h-1/2 rounded-lg text-center" >Cart</a>
      {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login" class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 h-1/2 rounded-lg text-center" >Login</a>
    {{/if}}
    </nav>
    </header>
  <body class="antialiased text-slate-900 bg-gradient-to-r from-winter to-spring font-bold ">
    <main>
      {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
      {{/if}}
  </body>
</html>
