<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/games">Games</a>
      <a>Your Orders</a>
      <a>List an Item</a>
      <a href="/cart">Cart</a>
    </nav>
    <main>
         {{{body}}}
    </main>
  </body>
</html>