<!DOCTYPE html>
<html>
  <head>
    <title>continue</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../../public/script.js"></script>
  </head>
  <body>
    <h1>Continue</h1>
    <nav>
      <a href="/">Home</a>
      <!-- Dropdown Menu -->
<div class="dropdown">
    <a href="#">Games</a>
    <div class="dropdown-content">
        <ul>
            {{#each consoles as |console|}}
            <li><a href="/games/{{console.id}}">{{console.console}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>


      <a href="/orders">Your Orders</a>
      <a href="/list-item">List an Item</a>
      <a href="/cart">Cart</a>
    </nav>
    <main>
         {{{body}}}
    </main>
  </body>
</html>