<div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="signup-form">
  <input type="text" id="username-signup" name="username" placeholder="Username" required>
  <input type="email" id="email-signup" name="email" placeholder="Email" required>
  <input type="password" id="password-signup" name="password" placeholder="Password" required>
  <button type="submit">Sign Up</button>
</form>

  </div>

  <script src="/js/signup.js"></script>
