<div class="login-card mx-4 my-4 sm:flex-wrap xl:w-1/3 2xl:w-1/6 inline-flex  rounded-2xl px-6 py-8  ring-slate-700 shadow-2xl m-6 text-pretty space-x-5 text-2xl text-slate-900  justify-center">
    <h2 class="page-title text-center mx-4 max-w-96">Signup</h2>
    <form class="form signup-form">
      <div class="form-group sm:w-1/2 mx-4 max-w-96">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group  sm:w-1/2 mx-4 max-w-96">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group  sm:w-1/2 mx-4 max-w-96">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group mx-4 max-w-96 ">
        <button class="btn btn-primary text-xl text-white left-0 bg-blue-900 duration-500 px-6 py-2 mx-4 my-2 hover:bg-cyan-500 rounded-lg" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>